.container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .hotel-table {
        height: 80%;
    }

    .row {
        height: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2.5rem;
        margin-top: 1rem;

        .search {
            width: 70%;
        }
    }
}
