<div class="container" *ngIf="currentUser">

    <p-card class="card">
        <ng-template pTemplate="header">
            <header class="view-header">
                <h1>{{'user.welcome' | translate}}{{currentUser.username}}</h1>
            </header>
        </ng-template>

        <div class="card-body">
            <ng-container *ngIf="currentUser.roles.includes('ADMIN'); else userActions">
                <div class="action-card" routerLink="/user/admin/hotels">
                    <h1 class="action-title">{{'admin.hotels.all' | translate}}</h1>
                    <i class="pi pi-list action-icon"></i>
                </div>
            </ng-container>

            <ng-template #userActions>
                <div class="action-card" routerLink="/user/hotels">
                    <h1 class="action-title">{{'user.hotels.title' | translate}}</h1>
                    <i class="pi pi-home action-icon"></i>
                </div>

                <div class="action-card" routerLink="/user/bookings">
                    <h1 class="action-title">{{'ad.bookings.title' | translate}}</h1>
                    <i class="pi pi-list action-icon"></i>
                </div>
            </ng-template>



        </div>
    </p-card>
</div>
