.container {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #f6f6f6;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 10px 5px lightgray;

    .search-container {
        width: 70%;

        .p-input-icon-left {
            width: 100%;

            .search-input {
                width: 100%;
            }
        }
    }

    .auth-container {
        display: flex;

        & > :not(:first-child) {
            margin-left: 0.5rem;
        }
    }



}
