<div class="container">
    <div class="nav-container">
        <button pButton routerLink="" icon="pi pi-home" class="home-button"></button>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [placeholder]="'topBar.menu.search' | translate" class="search-input">
        </span>
    </div>

    <div class="actions-container hidden-mobile" *ngIf="!user">
        <p-menu [model]="languageItems" [popup]="true" #languageMenu></p-menu>
        <button type="button" pButton icon="pi pi-flag" (click)="languageMenu.toggle($event)"></button>
        <p-button routerLink="/auth/login" [label]="'topBar.auth.login' | translate" icon="pi pi-unlock" iconPos="right"></p-button>
        <p-button routerLink="/auth/register" [label]="'topBar.auth.register' | translate" icon="pi pi-user-plus" iconPos="right"></p-button>
    </div>
    <div class="actions-container hidden-desktop" *ngIf="!user">
        <p-slideMenu [viewportHeight]="185" [model]="actionItems" [popup]="true" #actionMenu></p-slideMenu>
        <button type="button" pButton icon="pi pi-bars" (click)="actionMenu.toggle($event)"></button>
    </div>

    <div class="user-info-container" *ngIf="user">
        <p-slideMenu [viewportHeight]="185" [model]="userItems" [popup]="true" #userMenu></p-slideMenu>
        <button type="button" pButton icon="pi pi-user" [label]="user.username" (click)="userMenu.toggle($event)"></button>
    </div>
</div>
