<div class="container">
    <div class="menu-container">
        <button pButton routerLink="/" icon="pi pi-home"></button>
    </div>
    <div class="search-container">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" [placeholder]="'topBar.menu.search' | translate" class="search-input">
        </span>
    </div>
    <div class="auth-container" *ngIf="!user && !loading; else userInfo">
        <p-button routerLink="/auth/login" [label]="'topBar.auth.login' | translate" icon="pi pi-lock" iconPos="right"></p-button>
        <p-button routerLink="/auth/register" [label]="'topBar.auth.register' | translate" icon="pi pi-user" iconPos="right"></p-button>
    </div>
    <ng-template #userInfo>
        <div class="user-info-container" *ngIf="user && !loading">
            <p-menu [model]="userItems" [popup]="true" #menu></p-menu>
            <button type="button" pButton icon="pi pi-user" [label]="user.username" (click)="menu.toggle($event)"></button>
        </div>
    </ng-template>
</div>
