@import "src/app/layout/styles/mobile";
@import "src/app/layout/styles/media-queries";

.container {
    height: 6vh;
    background-color: #f6f6f6;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 2px 10px 5px lightgray;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-container {
        width: 65%;
        display: flex;
        gap: 0.5rem;

        .p-input-icon-left {
            width: 100%;

            .search-input {
                width: 100%;
            }
        }

        @include on-mobile {
           width: 80%;
        }

        @include on-laptop {
            width: 75%;

            .p-input-icon-left {
                width: 100%;
            }
        }
    }


    .actions-container, .user-info-container {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;

        &.hidden-desktop {
            width: 10%;

            button {
                min-width: 50px;
            }
        }
    }

}
