.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    overflow: hidden;



    .card {
        width: 100%;
        height: 100%;

        ::ng-deep .p-component {
            height: 100%;
            overflow-y: auto;
        }

        .view-header {
            padding: 1rem;
        }

    }
}
