<div class="container">

    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <p-card class="card">
        <ng-template pTemplate="header">
            <header class="view-header">
                <h1>{{'user.hotels.title' | translate}}</h1>
                <app-router-back [backRoute]="'/user'"></app-router-back>
            </header>
        </ng-template>

        <div class="card-body">
            <p-table [value]="hotels" [(contextMenuSelection)]="selected" [contextMenu]="cm"  dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>{{'hotel.add.name.label' | translate}}</th>
                        <th>{{'hotel.add.country.label' | translate}}</th>
                        <th>{{'hotel.add.city.label' | translate}}</th>
                        <th>{{'hotel.add.street.label' | translate}}</th>
                        <th>{{'hotel.add.maxGuests.label' | translate}}</th>
                        <th>{{'hotel.add.pricePerNight.label' | translate}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hotel>
                    <tr [pContextMenuRow]="hotel">
                        <td>{{hotel.name}}</td>
                        <td>{{hotel.address.country}}</td>
                        <td>{{hotel.address.city}}</td>
                        <td>{{hotel.address.street}}</td>
                        <td>{{hotel.maxGuests}}</td>
                        <td>{{hotel.pricePerNight}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>

</div>

