<p-card class="hotel-card" *ngIf="hotel">
    <ng-template pTemplate="header">
        <div class="card-header">
            <h3 class="name">{{hotel.name}}</h3>
            <div class="header-row">
                <h4 class="location">{{hotel.address.city}}, {{hotel.address.country}}</h4>
                <span class="price">{{hotel.pricePerNight | currency: 'PLN' }} / {{'hotel.header.night' | translate}}</span>
            </div>
        </div>
    </ng-template>
    <img class="main-image" [src]="image" alt="Hotel image" *ngIf="image; else skeleton">

    <ng-template #skeleton>
        <div class="skeleton-container">
            <p-skeleton size="250px" ></p-skeleton>
        </div>
    </ng-template>

    <div class="price"></div>
</p-card>
