.hotel-card {
    ::ng-deep .p-card-content {
        padding: 0;
    }

    .card-header {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem 0 1rem;

        .header-row {
            display: flex;
            justify-content: space-between;
        }
    }

    .card-body {
        display: flex;
        gap: 0.75rem;
        flex-direction: column;

        .book-button {
            width: 30%;
            align-self: flex-end;
        }
    }


    .main-image {
        height: 100%;
        width: 100%;
        max-height: 300px;
        object-fit: contain;
    }

    .skeleton-container {
        display: flex;
        justify-content: center;
    }
}
